.cat-image-1 {
    width: 200px;
    border-radius: 10%;
}
.cat-image-2 {
    width: 200px;
    text-align: center;
}
.cat-image-3 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.search-input-1 {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}
.search-input-1:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}